@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

*       { box-sizing: border-box; }
body    { margin: 0; font-size: 20px; font-family: 'Libre Franklin', sans-serif ;}
img     { max-width: 100%; }
h1      { color: var(--gray); font-weight: 300; margin-bottom: 10px; font-size: 50px; }
h3      { font-weight: 300; }
strong  { color: #000; font-weight: 700; }
p       { color: var(--gray); }

:root {
    --blue : hsl(223, 87%, 63%);
    --pale_blue: hsl(223, 100%, 88%);
    --light_red: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --very_dark_blue: hsl(209, 33%, 12%);
}

main {
    max-width: 650px;
    margin: 60px auto;
    text-align: center;
    padding: 20px;
}

form {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
    margin-top: 50px;
    text-align: left;
}

form small {
    display: none;
    position: absolute;
    top: 70px;
    left: 24px;
    color: var(--light_red);
    font-style: italic;
}

.form-input {
    flex: 0.65;
}

.form-input input.error {
    border-color: var(--light_red);
    color: var(--light_red);
}

.form-input input.error::placeholder {
	color: var(--light_red);
}

.form-input input {
    width: 100%;
    padding: 20px 25px;
    border-radius: 50px;
    border: 1px solid var(--pale_blue);
    color: var(--pale_blue);
    font-size: 16px;
    outline: none;
}

button {
    flex: 0.3;
    padding: 20px 0;
    border-radius: 50px;
    background-color: var(--blue);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.social-networks {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.social-networks li {
    margin: 10px;
}

.social-networks li a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    border: 1px solid var(--gray);
    border-radius: 50%;
    text-decoration: none;
    color: var(--blue);
    align-items: center;
    justify-content: center;
}

.social-networks li a:hover {
    color: white;
    background-color: var(--blue);
}

@media screen and (max-width: 650px) {
    form {
        flex-direction: column;
        text-align: center;
    }

    form small {
        left: 110px;
    }

    .form-input {
        width: 100%;
        margin-bottom: 50px;
    }

    button {
        width: 100%;
        margin-left: 0;
    }
}
